{% extends "base.html" %}

<!-- css link -->
{% block head %}
<link rel="stylesheet" href="static/CSS/styling.css">
{% endblock head %}



<!-- body code -->

{% block body %}

<!-- section -->
<section>
    <div class="container-fluid">
        <p class="container2">
            Let's Take <br>
            Your Business </p>
        <p class="co-cont container2">To THE MAINSTREAM</p>
        <img class="container-img" src="static/images/design3.png" alt="">
    </div>
</section>
<hr>

<!-- Service -->

<section id="service">
    <h3>Services</h3>
    <div class="row">
        <div class="col-lg-4 col-md-6 service1">
            <div class="card">
                <div class="card-header">
                    <h4 class="d-color">Business Card and Design</h4>
                </div>
                <div class="card-body">
                    <img class="img-width" src="static/images/about-1.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 service1">
            <div class="card">
                <div class="card-header">
                    <h4 class="d-color">Digital Advertising</h4>
                </div>
                <div class="card-body">
                    <img class="img-width" src="static/images/about-2.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 service1">
            <div class="card">
                <div class="card-header">
                    <h4 class="d-color">Social Media Management</h4>
                </div>
                <div class="card-body">
                    <img class="img-width" src="static/images/about-3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<!-- web development -->
<h3 class="web-st3" id="web-development">Web Development</h3>
<section class="web-st">
    <div class="container row web-st1">
        <div class="col-lg-6 web-st2">
            <h4 class="h4-style">Web Developement</h4>
        </div>
        <div class="col-lg-6 img-centre">
            <img class="img-width1" src="static/images/web-design1.png" alt="">
        </div>
    </div>
    <div class="container row web-st1">
        <div class="col-lg-6 web-st2">
            <h4 class="h4-style">Logo Design</h4>
        </div>
        <div class="col-lg-6 img-centre">
            <img class="img-width1" src="static/images/web-design2.png" alt="">
        </div>
    </div>
</section>
<hr>

<!-- Our Work -->
<h3 class="web-st3" id="Our-Work">Our Work</h3>
<section class="web-st">
    <div class="row">
        <div class="col-lg-4">
            <h4 class="h4-style pa-h">Advertising</h4>
            <p class="para-style">Your future customers are <br>
                watching online videos or sharing
                memes right now. we will
                advertise your business right in <br>
                front of them</p>
        </div>
        <div class="col-lg-4">
            <h4 class="h4-style pa-h">Social Media Management</h4>
            <p class="para-style">
                stay ahead of the curve by having
                an active presence on Social
                Media. You just need to sit back
                and relax , we do the rest!</p>
        </div>
        <div class="col-lg-4">
            <h4 class="h4-style pa-h">Business Card Designing</h4>
            <p class="para-style">You can never go wrong with your
                business card. we help you to
                showcase you bunines without
                saying a word with our business cards.</p>
        </div>
    </div>
</section>
<hr>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>


{% endblock body %}